/* background color #c1ecf2 */

h1 { 
	font-size: 2.5em;
	
}
h2 { 
	font-size: 1.5em;
}
h3 { 
	font-size: 1.3em;
}

h2, h3 {
	text-align: center;
	margin: .5em;
	padding: .5em;
}

h1, p {
	margin: .5em 5%;
	padding: .5em;
}
header { 
	position: relative;
	top: 0;
	width: 100%;

}

figure {
	margin: 2em 20%;
	padding: 1em 10%;
	border: 1px solid #000000; 
	border-radius: 10px;
}

figcaption {
	text-align: center;
	font-size: .7em
	clear: both;
}
img {
	width: 60%;
	margin-left: 20%;
}
nav {
	position: absolute;
	margin: 100px;
	margin-left: 0;
	width: 20%;
	z-index: 1;
	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	width: 10 em;
}
li a {
	display: block;
	color: #ffffff;
	padding: 1em;
	margin: .5em;
	text-decoration: none;
	background-color: #8F8380;
}
li a:hover {
	background-color: #82b2e5;
	color:  #000000;
}
main {
	clear: both;
	margin-left: 20%;
	margin-right: 5%;
}



body { 
	font-family: helvetica;
	margin: auto;
	background-color: #d3deea;
}

article {
	background-color:#82b2e5;
	}

footer {
	font-size: .7em;
	margin-left: 20%;
}




.buddy {
	
	max-width: 40%;
	padding: 5%;
	float: left;
	margin: 0;
}

.wrap-fig {
	overflow: hidden;
}

#assemblyline {
	width: 30%;
	float: left;
	margin-top: 0;
	z-index: 5;
}
